.App {
  
  height: 30px;
  width: 115px;
  border-bottom: 2px dotted black;
  margin: auto;
  position: relative;
  top:300px;

}

#tooltipDiv{
  background-color: black;
  color: white;
  height: 60px;
  width: 210px;
  border-radius: 10px;
  padding: 10px;
}

*{
  box-sizing: border-box;
}

.left{
  position: absolute;
  left:-250px;
  top:-10px
}

.right{
  position: absolute;
  left:150px;
  top:-10px
}
.top{
  position: absolute;
  left: -50px;
  top:-70px
}
.bottom{
  position: absolute;
  left:-50px;
  top:50px
}
